        body { font-family: Arial, sans-serif; }
        .container { max-width: 600px; margin: auto; text-align: center; padding: 20px; color: red}
        h1 { color: #333; }
        .data { font-size: 1.2em; margin: 20px 0; }
        #Location Mark{
        font-size: 12px;
        color: #007bff;
        margin-left: 5px;
        }
