<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landslide Prediction Dashboard</title>
    <link href="index.css"> </link>

</head>
<body>
    <div class="container">
        <h1>Dự đoán sạt lở đất</h1>
        <div class="data">
            <p><strong>Nhiệt độ:</strong> {{ data['temperature'] if data['temperature'] else 'No data' }} °C</p>
            <p><strong>Độ ẩm:</strong> {{ data['humidity'] if data['humidity'] else 'No data' }} %</p>
	    <p><strong>Lượng mưa:</strong></p>
	    <p><strong>Khả năng sạt lở đất:</strong></p>
        </div>
    </div>
</body>
</html>
