<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandslideAlert VN</title>
	<head>
    <link rel="icon" type="image/webp" href="../images/Logo 1.webp">
    <title>Your Website Title</title>
</head>
    <link rel="stylesheet" href="static/index.css">

</head>
<body>
    <div class="container">
        <h1>Dự đoán sạt lở đất</h1>
        <div class="data">
            <p><strong>Nhiệt độ:</strong> {{ data['temperature'] if data['temperature'] else 'No data' }} °C</p>
            <p><strong>Độ ẩm:</strong> {{ data['humidity'] if data['humidity'] else 'No data' }} %</p>
	    <p><strong>Lượng mưa:</strong>No data mm </p>
	    <p><strong>Khả năng sạt lở đất:</strong> No data %</p>
	    <p><strong>Vị trí đo:</strong> No data %</p>
	<div id="Location Mark">	
	<img src="https://ibb.co/zxC5HLC" alt="Location mark" style="width: 20px; height: 20px;">
	</div>
        </div>
    </div>
</body>
</html>
