<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandslideAlert VN</title>
    <link rel="icon" type="image/webp" href="static/Save.webp">

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <!-- Main content section -->
    <div id="header" class="style2">
       
        <div class="inner">
            <button ><a href="https://landslide-prediction-bksv.onrender.com">VN</a></button>
            <h1 class="main-title" data-key="main-title">Landslide Prediction</h1>
            <p data-key="forecast-info">Prediction informaton</p>
        </div>
    </div>

    <div class="main style1">
        <div class="container">
            <div class="data">
                <ul>
                    <li data-key="temperature">
                        <strong>Temperature:</strong> {{ data['temperature'] if data['temperature'] else 'No data' }} °C
                    </li>
                    <li data-key="humidity">
                        <strong>Humidity:</strong> {{ data['humidity'] if data['humidity'] else 'No data' }} %
                    </li>
                    <li data-key="rain">
                        <strong>Rain:</strong> {{ data['rain'] if data['rain'] else 'No data' }} mm
                    </li>
                    <li data-key="location">
                        <strong>Location:</strong> Vietnam
                    </li>
                    <li data-key="slope">
                        <strong>Slope:</strong> No data
                    </li>
                    <li data-key="vegetation">
                        <strong>Vegetation:</strong> No data
                    </li>
                    <li data-key="landslide-risk">
                        <strong>Landslide probability</strong>:</strong> {{ data['landslide-risk'] if data['landslide-risk'] else 'No data' }} %
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer" class="style2">
        <div class="container">
            <div class="copyright">
                <ul>
                    <li data-key="footer">&copy; 2024 LandslideAlert EN. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
           <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
<!--<canvas id="myCanvas" width="1300" height="400" style="border:0px solid #000000;"> <script src="static/canvas.js"></script></canvas>-->
</body>

</html>
